<div class="relative container p-6 mx-auto">
    <div class="flex items-center justify-between " >
        <div>
            <img src="../../../assets/logo.svg" alt="">
        </div>
        <ul class=" hidden md:flex align-middle gap-5">
            <li class="hover:text-slate-400 font-medium"><a href="#">Home</a></li>
            <li class="hover:text-slate-400 font-medium"><a href="#">About</a></li>
            <li class="hover:text-slate-400 font-medium"><a href="#">Contact</a></li>
            <li class="hover:text-slate-400 font-medium"><a href="#">Careers</a></li>
            <li class="hover:text-slate-400 font-medium"><a href="#">Community</a></li>
        </ul>
        <button class=" hidden md:block p-3 px-6 rounded-full text-white bg-brightRed font-medium">
            Get Started
        </button>
    </div>
</div>
